body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

header {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #34495e;
}

form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

form input, form select, form button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

form button {
  background: #27ae60;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #219150;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

table th {
  background: #ecf0f1;
}







.actions button {
  margin: 2px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.actions .edit {
  background: #f39c12;
  color: white;
}

.actions .edit:hover {
  background: #e67e22;
}

.actions .delete {
  background: #e74c3c;
  color: white;
}

.actions .delete:hover {
  background: #c0392b;
}

.delete-btn {
  background: #e74c3c;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.delete-btn:hover {
  background: #c0392b;
}











.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.modal-content h2 {
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  padding: 10px;
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.modal-content button:hover {
  background: #219150;
}

.modal-content p {
  font-size: 14px;
}

.modal-content a {
  text-decoration: none;
  font-weight: bold;
}

.modal-content a:hover {
  text-decoration: underline;
}

footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-size: 14px;
}

footer p {
  margin: 0;
}

.edit-btn {
  background: #f39c12;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.edit-btn:hover {
  background: #e67e22;
}

#cancelar-edicao {
  background: #7f8c8d;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
}

#cancelar-edicao:hover {
  background: #707b7c;
}
